<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>★SPACE★</title>
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/board/boardList.css" />
<link rel="stylesheet" href="../css/header.css">
</head>
<body>
	<div th:replace="~{header :: header}"></div>
	<div class="box">
		<div>
			<h1 class="title">프로젝트(스터디) 게시판</h1>
		</div>
		<div>
			<ul class="skillContainer">
				<li th:each="val : ${skillList}" class="skillList choice">
					<div class="skillbox">
						<div class="imgbox inline-block">
							<img class="skillimage" th:src="${val.skillimage}"/>
						</div>
						<span class="skill" th:text="${val.skillname}"></span>
					</div>
				</li>
			</ul>				
		</div>
		<div>
			<div id="reset">필터 초기화</div>
		</div>	
	</div>	
    <section class="section"></section>
    <a href="#headerBox"><p class="top">TOP</p></a>
</body>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/board/boardList.js"></script>
<script src="/js/header.js"></script>
</html>