<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.repository.BoardMapper">
	
	<!-- 게시글 스킬 필터 -->
	<sql id="cri">
		<if test="skill != null">
			<trim prefixOverrides="or" prefix="(" suffix=") and">
				<foreach item="type" collection="selectArry">
					<trim prefix="or">
						<choose>
							<when test="type == 'C'.toString()">(BOARDSKILL LIKE '%C')</when>
							<when test="type == 'C++'.toString()">(BOARDSKILL LIKE '%C++%')</when>
							<when test="type == 'C#'.toString()">(BOARDSKILL LIKE '%C#%')</when>
							<when test="type == 'Java'.toString()">(BOARDSKILL LIKE '%Java%')</when>
							<when test="type == 'HTML'.toString()">(BOARDSKILL LIKE '%HTML%')</when>
							<when test="type == 'CSS'.toString()">(BOARDSKILL LIKE '%CSS%')</when>
							<when test="type == 'JavaScript'.toString()">(BOARDSKILL LIKE '%JavaScript%')</when>
							<when test="type == 'TypeScript'.toString()">(BOARDSKILL LIKE '%TypeScript%')</when>
							<when test="type == 'Python'.toString()">(BOARDSKILL LIKE '%Python%')</when>
							<when test="type == 'Perl'.toString()">(BOARDSKILL LIKE '%Perl%')</when>
							<when test="type == 'php'.toString()">(BOARDSKILL LIKE '%php%')</when>
							<when test="type == 'Ruby'.toString()">(BOARDSKILL LIKE '%Ruby%')</when>
							<when test="type == 'Cotlin'.toString()">(BOARDSKILL LIKE '%Cotlin%')</when>
							<when test="type == 'Swift'.toString()">(BOARDSKILL LIKE '%Swift%')</when>
							<when test="type == 'Spring'.toString()">(BOARDSKILL LIKE '%Spring')</when>
							<when test="type == 'Spring Boot'.toString()">(BOARDSKILL LIKE '%Spring Boot%')</when>
							<when test="type == 'Vue'.toString()">(BOARDSKILL LIKE '%Vue%')</when>
							<when test="type == 'React'.toString()">(BOARDSKILL LIKE '%React%')</when>
							<when test="type == 'Angular'.toString()">(BOARDSKILL LIKE '%Angular%')</when>
							<when test="type == 'JQuery'.toString()">(BOARDSKILL LIKE '%JQuery%')</when>
							<when test="type == 'Django'.toString()">(BOARDSKILL LIKE '%Django%')</when>
							<when test="type == 'Svelte'.toString()">(BOARDSKILL LIKE '%Svelte%')</when>
							<when test="type == 'Nextjs'.toString()">(BOARDSKILL LIKE '%Nextjs%')</when>
							<when test="type == 'Nodejs'.toString()">(BOARDSKILL LIKE '%Nodejs%')</when>
							<when test="type == 'Go'.toString()">(BOARDSKILL LIKE '%Go%')</when>
							<when test="type == 'Nestjs'.toString()">(BOARDSKILL LIKE '%Nestjs%')</when>
							<when test="type == 'Express'.toString()">(BOARDSKILL LIKE '%Express%')</when>
							<when test="type == 'MySQL'.toString()">(BOARDSKILL LIKE '%MySQL%')</when>
							<when test="type == 'MongoDB'.toString()">(BOARDSKILL LIKE '%MongoDB%')</when>
							<when test="type == 'Oracle'.toString()">(BOARDSKILL LIKE '%Oracle%')</when>
							<when test="type == 'MariaDB'.toString()">(BOARDSKILL LIKE '%MariaDB%')</when>
							<when test="type == 'JPA'.toString()">(BOARDSKILL LIKE '%JPA%')</when>
							<when test="type == 'MyBatis'.toString()">(BOARDSKILL LIKE '%MyBatis%')</when>
							<when test="type == 'GraphQl'.toString()">(BOARDSKILL LIKE '%GraphQl%')</when>
							<when test="type == 'Firebase'.toString()">(BOARDSKILL LIKE '%Firebase%')</when>
							<when test="type == 'Flutter'.toString()">(BOARDSKILL LIKE '%Flutter%')</when>
							<when test="type == 'ReactNative'.toString()">(BOARDSKILL LIKE '%ReactNative%')</when>
							<when test="type == 'Unity'.toString()">(BOARDSKILL LIKE '%Unity%')</when>
							<when test="type == 'AWS'.toString()">(BOARDSKILL LIKE '%AWS%')</when>
							<when test="type == 'Kubernetes'.toString()">(BOARDSKILL LIKE '%Kubernetes%')</when>
							<when test="type == 'Docker'.toString()">(BOARDSKILL LIKE '%Docker%')</when>
							<when test="type == 'Git'.toString()">(BOARDSKILL LIKE '%Git%')</when>
							<when test="type == 'Figma'.toString()">(BOARDSKILL LIKE '%Figma%')</when>
							<when test="type == 'Zeplin'.toString()">(BOARDSKILL LIKE '%Zeplin%')</when>
							<when test="type == 'Jest'.toString()">(BOARDSKILL LIKE '%Jest%')</when>
							<when test="type == 'Algorithm'.toString()">(BOARDSKILL LIKE '%Algorithm%')</when>
							<when test="type == 'DataStructure'.toString()">(BOARDSKILL LIKE '%DataStructure%')</when>																																	
						</choose>					
					</trim>
				</foreach>
			</trim>
		</if>
	</sql>

	<!-- 게시글 리스트 -->
	<select id="boardList" resultType="BoardView">
		<![CDATA[
			SELECT BOARDNUMBER, BOARDWRITER, USERNAME, USERSNICKNAME, BOARDCATEGORY, BOARDMEMBERS, BOARDMEET, BOARDPERIOD, BOARDSKILL, BOARDSTART, BOARDCOMMUNICATION, BOARDWAY, BOARDTITLE, BOARDCONTENT, BOARDVIEW
			FROM
				(SELECT ROWNUM RN, BOARDNUMBER, BOARDWRITER, USERNAME, USERSNICKNAME, BOARDCATEGORY, BOARDMEMBERS, BOARDMEET, BOARDPERIOD, BOARDSKILL, BOARDSTART, BOARDCOMMUNICATION, BOARDWAY, BOARDTITLE, BOARDCONTENT, BOARDVIEW
				FROM USERS U INNER JOIN BOARD B ON U.USERNAME = B.BOARDWRITER WHERE
		]]>
		<include refid="cri"></include>
		<![CDATA[
				ROWNUM<=#{pageNum}*#{amount} ORDER BY BOARDNUMBER DESC)
			WHERE RN>(#{pageNum}-1)*#{amount}
		]]>
	</select>
	
	<!-- 게시글 전체 수 -->
	<select id="getTotal" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE
		<include refid="cri"></include>
		BOARDNUMBER > 0
	</select>
	
	<!-- 게시글 가져오기 -->
	<select id="getBoard" resultType="BoardView">
		SELECT BOARDNUMBER, USERNAME, BOARDDATE, USERSNICKNAME, BOARDCATEGORY, BOARDMEMBERS, BOARDMEET, BOARDPERIOD,
		BOARDSKILL, BOARDSTART, BOARDCOMMUNICATION, BOARDWAY, BOARDTITLE, BOARDCONTENT
		FROM USERS U, BOARD B
		WHERE U.USERNAME = B.BOARDWRITER AND BOARDNUMBER= #{boardnumber}
	</select>
	
	<!-- 게시글 작성 -->
	<insert id="writeBoard">
		INSERT INTO BOARD
		(BOARDNUMBER, BOARDWRITER, BOARDDATE, BOARDCATEGORY, BOARDMEMBERS, BOARDMEET, BOARDPERIOD, BOARDSKILL, BOARDSTART, BOARDCOMMUNICATION, BOARDWAY, BOARDTITLE, BOARDCONTENT, BOARDVIEW)
		VALUES(SEQ_BOARD.NEXTVAL, #{boardwriter}, SYSDATE, #{boardcategory}, #{boardmembers}, #{boardmeet}, #{boardperiod}, #{boardskill}, #{boardstart}, #{boardcommunication}, #{boardway}, #{boardtitle}, #{boardcontent}, 0)
	</insert>
	
	<!-- 게시글 조회수 1증가 -->
	<insert id="updateViewCnt">
		UPDATE BOARD SET BOARDVIEW = BOARDVIEW+1 WHERE BOARDNUMBER=#{boardnumber}
	</insert>
	
	<!-- 게시판 상세보기 -->
	<select id="getBoardDetail" resultType="Board">
		SELECT * FROM BOARD WHERE BOARDNUMBER = #{boardnumber}
	</select>	
	
	<!-- 게시글 수정 -->
	<update id="updateBoard">
		UPDATE BOARD
		SET BOARDCATEGORY=#{boardcategory}, BOARDMEMBERS=#{boardmembers}, BOARDMEET=#{boardmeet}, BOARDPERIOD=#{boardperiod},
		BOARDSKILL=#{boardskill}, BOARDSTART=#{boardstart}, BOARDCOMMUNICATION=#{boardcommunication}, BOARDWAY=#{boardway}, BOARDTITLE=#{boardtitle}, BOARDCONTENT=#{boardcontent}
		WHERE BOARDNUMBER=#{boardnumber}
	</update>	
	
 	<!-- 게시글 삭제 -->
	<delete id="removeBoard">
		DELETE FROM BOARD WHERE BOARDNUMBER=#{boardnumber}
	</delete>	
	
	<!-- 게시글 댓글 조회 -->
	<select id="searchBoardReply" resultType="_int">
		SELECT COUNT(*)
		FROM REPLY WHERE BOARDNUMBER=#{boardnumber}
	</select>
	
	<!-- 게시글 댓글 삭제 -->
	<delete id="removeBoardReply">
   		DELETE FROM REPLY WHERE BOARDNUMBER=#{boardnumber}
   	</delete>
   	
   	<!-- 인덱스 인기 게시글 10개 -->
   	<select id="hotBoardList" resultType="Board_Skill">
   		<![CDATA[
			SELECT * FROM
			(
				SELECT * FROM BOARD, SKILL
				WHERE BOARDSKILL = SKILLNAME
				ORDER BY BOARDVIEW DESC
			)
			WHERE ROWNUM <=10
		]]>
   	</select>
   	
	<!-- 게시글 리스트 -->
	<select id="myBoardList" resultType="BoardView">
		SELECT BOARDNUMBER, BOARDWRITER, BOARDTITLE, BOARDDATE
		FROM BOARD
		WHERE BOARDWRITER = #{USERNAME} 
	</select>

</mapper>