<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.repository.BoardMapper">
	<sql id="cri">
		<if test="keyword != null and type != null">
			<trim prefixOverrides="or" prefix="(" suffix=") and">
				<foreach item="type" collection="typeArr">
					<trim prefix="or">
						<choose>
							<when test="type == 'T'.toString()">
								(BOARDTITLE LIKE '%${keyword}%')
							</when>
							<when test="type == 'C'.toString()">
								(BOARDCONTENT LIKE '%${keyword}%')
							</when>
							<when test="type == 'W'.toString()">
								(BOARDWRITER LIKE '%${keyword}%')
							</when>
							<when test="type == 'S'.toString()">
								(BOARDWRITER LIKE '%${keyword}%')
							</when>
						</choose>					
					</trim>
				</foreach>
			</trim>
		</if>
	</sql>

	<select id="boardList" resultType="BoardView">
		<![CDATA[
			SELECT USERNAME, USERSNICKNAME, BOARDCATEGORY, BOARDMEMBERS, BOARDMEET, BOARDPERIOD, BOARDSKILL, BOARDSTART, BOARDCOMMUNICATION, BOARDWAY, BOARDTITLE, BOARDCONTENT
			FROM
				(SELECT ROWNUM RN, USERNAME, USERSNICKNAME, BOARDCATEGORY, BOARDMEMBERS, BOARDMEET, BOARDPERIOD, BOARDSKILL, BOARDSTART, BOARDCOMMUNICATION, BOARDWAY, BOARDTITLE, BOARDCONTENT
				FROM USERS U, BOARD B WHERE
		]]>
		<include refid="cri"></include>
		<![CDATA[
				ROWNUM<=#{pageNum}*#{amount} ORDER BY BOARDNUMBER DESC)
			WHERE RN>(#{pageNum}-1)*#{amount}
		]]>
	</select>
	
	<select id="getTotal" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE
		<include refid="cri"></include>
		BOARDNUMBER > 0
	</select>
	
	<select id="getBoard" resultType="BoardView">
		SELECT USERNAME, USERSNICKNAME, BOARDCATEGORY, BOARDMEMBERS, BOARDMEET, BOARDPERIOD,
		BOARDSKILL, BOARDSTART, BOARDCOMMUNICATION, BOARDWAY, BOARDTITLE, BOARDCONTENT
		FROM USERS U, BOARD B
		WHERE U.USERNAME = B.BOARDWRITER AND BOARDNUMBER= #{boardnumber}
	</select>
	
	<insert id="writeBoard">
		INSERT INTO BOARD
		(BOARDNUMBER, BOARDWRITER, BOARDDATE, BOARDCATEGORY, BOARDMEMBERS, BOARDMEET, BOARDPERIOD, BOARDSKILL, BOARDSTART, BOARDCOMMUNICATION, BOARDWAY, BOARDTITLE, BOARDCONTENT)
		VALUES(SEQ_BOARD.NEXTVAL, #{boardwriter}, SYSDATE, #{boardcategory}, #{boardmembers}, #{boardmeet}, #{boardperiod}, #{boardskill}, #{boardstart}, #{boardcommunication}, #{boardway}, #{boardtitle}, #{boardcontent})
	</insert>
</mapper>