<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.repository.FileMapper">

	<insert id="saveFile">
		INSERT INTO FILES
		(FILENUMBER, USERSNUMBER, UPLOADFILENAME, STOREFILENAME)
		VALUES(SEQ_FILES.NEXTVAL, #{usersnumber}, #{uploadFileName}, #{storeFileName})
	</insert>
	
<!-- 	<select id="findAttach" resultType="Item">
		SELECT * FROM BOARDFILE
		WHERE BOARDNUMBER = #{boardNumber} AND ATTACH = '1'
	</select>
	
	<select id="findImages" resultType="Item">
		SELECT * FROM BOARDFILE
		WHERE BOARDNUMBER = #{boardNumber} AND ATTACH = '0'
	</select> -->
	
	<select id="getFile" resultType="ITEM">
		SELECT * FROM FILES WHERE USERSNUMBER = #{usersnumber}
	</select>
	
	<select id="getstorefilename" resultType="String">
		SELECT STOREFILENAME FROM FILES WHERE USERSNUMBER = #{usersnumber}
	</select>
</mapper>