<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.repository.UsersMapper">
		
	<!-- 유저 정보 가져오기 -->
	<select id="getUsers" resultType="Users">
		SELECT * FROM USERS WHERE USERNAME=#{username}
	</select>
	
	<!-- 스프링 시큐리티를 이용한 회원가입 -->
	<insert id="joinOAuth">
		INSERT INTO USERS
		(USERSNUMBER, USERNAME, USERSPW, USERSNICKNAME, USERSEMAIL, ROLE, PROVIDER, PROVIDERID, SKILL)
		VALUES(seq_users.nextVal, #{username}, #{userspw}, #{usersnickname}, #{usersemail}, #{role}, #{provider}, #{providerid}, #{skill})
	</insert>
	
	<!-- 스킬 모두 가져오기 -->
	<select id="skill" resultType="Skill">
		SELECT * FROM SKILL
	</select>
	
	<!-- 닉네임 중복 검사 -->
	<select id="checkNick" resultType="_int">
		SELECT COUNT(*) FROM USERS WHERE USERSNICKNAME=#{usersnickname}
	</select>
	
	<update id="updateInfo">
		UPDATE USERS
		SET USERSNICKNAME=#{usersnickname}, MODIFYDATE=SYSDATE, SKILL=#{skill}
		WHERE USERSNUMBER=#{usersnumber}	
	</update>
	
	<delete id="fire">
		DELETE FROM USERS
		WHERE USERSNUMBER=#{usersnumber};	
	</delete>
</mapper>