<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>★SPACE★</title>
<link rel="stylesheet" href="../css/users/loginSkill.css">
</head>
<body>
	<form th:action="@{/loginFinish}" method="post" th:object="${users}">
		<p class="title">주력 기술</p>
		<div class="skillContainer">
			<div th:each="val : ${skillList}" th:text="${val.skillname}" class="skillList"></div>
		</div>
		<div id="skillChoiceContainer"></div>
		<div id="reset">다시 선택하기</div>
		<input type="hidden" th:field="*{username}" name="username"/>
		<input type="hidden" th:field="*{userspw}" name="userspw"/>
		<input type="hidden" th:field="*{usersemail}" name="usersemail"/>
		<input type="hidden" th:field="*{usersnickname}" name="usersnickname"/>
		<input type="hidden" th:field="*{Role}" name="Role"/>
		<input type="hidden" th:field="*{provider}" name="provider"/>
		<input type="hidden" th:field="*{providerid}" name="providerid"/>
		<input type="submit" value="시작하기"/>
	</form>
</body>
<script src="../js/users/loginSkill.js"></script>
</html>
