<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>★SPACE★</title>
<link rel="stylesheet" href="/css/main.css" />
<style>

</style>
</head>
<body>
	<div class="img">
		<a href="/">
			<img src="../images/spaceLogoText.PNG">
		</a>
		<a href="/">
			<img src="../images/spaceLogo.PNG">
		</a>
	</div>
	<div class="container">
		<div class="box2">
			<form th:action="@{/loginSkill}" class="form" onsubmit="return send()" th:object="${users}" method="post">
				<input type="file" name="image"/>
				<input type="hidden" th:field="*{username}" name="username"/>
				<input type="hidden" th:field="*{userspw}" name="userspw"/>
				<input type="hidden" th:field="*{usersnickname}" name="usersnickname"/>
				<input type="hidden" th:field="*{usersemail}" name="usersemail"/>
				<input type="hidden" th:field="*{Role}" name="Role"/>
				<input type="hidden" th:field="*{provider}" name="provider"/>
				<input type="hidden" th:field="*{providerid}" name="providerid"/>
				<input type="submit" class="button" value="다음"/>
			</form>
			<span class="inline-block" id="ResultNickname" style="color: red;"></span>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">


</script>
</html>