@charset "UTF-8";

.headerBox {
	padding: 5px;
	width: 80%;
	height: 100px;
	margin: 0 auto;
}

@font-face {
    font-family: 'KOTRALEAP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRALEAP.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.welcome {
	font-family: 'KOTRALEAP';
	font-weight: bold;
}

#nickname {
	width: 95px;
	margin-left: 10px;
	color: #7B68EE;
}

.leftBox {
	width: 200px;
	height: 100px;
	cursor: pointer;
	float: left;
	padding-top: 20px;
}

.rightBox {
	width: 420px;
	height: 100px;
	float: right;
	padding-right: 10px;
	padding-top: 40px;
}

.rightBox > div > a {
	text-decoration: none;
	font-size: 18px;
	margin-left: 5px;
	color: black;
	border: 2px solid #696969;
	border-radius: 5px;
	padding: 3px;
}

.write, list {
	transition: all 0.1s linear;
}

.write:hover {
	transform: scale(1.03);
}

.list:hover {
	transform: scale(1.03);
}

.rightBox div:nth-child(3) {
	cursor: pointer;
}

#nick {
	position: relative;
	width: 170px;
	display: relative;
}

.hideMenu {
	width: 150px;
	height: 150px;
	background-color: white;
	position: absolute;
	z-index: 1000;
	opacity: 0;
	left: 12px;
	top: 60px;
}

.hideMenu > div {
	width: 150px;
	height: 150px;
}

.hideMenu > div > ul {
	width: 150px;
	height: 150px;	
}

.hideMenu > div > ul > li {
	list-style: none;
	width: 150px;
	height: 40px;
	margin-top: 10px;
	text-align: center;
	border: 0px !important;
}

.hideA {
	text-decoration: none;
	color: black;
}
