<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.repository.ReplyMapper">
	
	<!-- =============================================== 댓글 등록 =============================================== -->
	
	<!-- 댓글 등록 -->
	<insert id="insertReply">
		INSERT INTO REPLY
		(REPLYNUMBER, BOARDNUMBER, REPLYNAME, REPLYCONTENT, REPLYDATE)
		VALUES(SEQ_REPLY.NEXTVAL, #{boardnumber}, #{replyname}, #{replycontent}, SYSDATE)
	</insert>
	
	<!-- ======================================================================================================== -->
	
	<!-- =============================================== 댓글 리스트=============================================== -->
	<!-- 댓글 총 개수 -->
	<select id="getReplyTotal" resultType="_int">
		SELECT COUNT(*) FROM REPLY WHERE BOARDNUMBER=#{boardnumber}
	</select>
	
	<!-- 댓글 리스트 -->
	<select id="getReplyList" resultType="Reply">
		<![CDATA[
			SELECT *
			FROM (
				SELECT ROWNUM RN, REPLYNUMBER, BOARDNUMBER, REPLYNAME, REPLYCONTENT, REPLYDATE, UPDATEDATE
				FROM REPLY WHERE BOARDNUMBER=#{boardnumber} AND ROWNUM <= #{cri.pageNum}*#{cri.amount}
			) WHERE RN > (#{cri.pageNum}-1)*#{cri.amount}
		]]>
	</select>

	<!-- ======================================================================================================== -->
	
	<!-- =============================================== 댓글 삭제=============================================== -->	
	<!-- 댓글 삭제 -->
	<delete id="replyRemove">
		DELETE FROM REPLY WHERE REPLYNUMBER=#{replynumber}	
	</delete>
	
	<!-- ======================================================================================================== -->
	
	<!-- =============================================== 댓글 수정 =============================================== -->
	<!-- 댓글 수정 -->
	<update id="replyUpdate">
		UPDATE REPLY
		SET REPLYCONTENT=#{replycontent}, UPDATEDATE=SYSDATE
		WHERE REPLYNUMBER=#{replynumber}
	</update>	
	
</mapper>