<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>★SPACE★</title>
</head>
<body>
	<header th:fragment="header" class="headerBox">
		<div class="leftBox">
			<a href="/">
				<img src="../images/spaceLogoText.PNG">
			</a>
		</div>
		<div class="rightBox">
			<div class="inline-block write">
				<a href="/board/write">게시글 작성</a>
			</div>
			<div class="inline-block list">
				<a href="/board/list">게시판 이동</a>
			</div>
			<div id="nick" class="inline-block" th:if="${session.users != 'not'}">
				<span id="nickname" class="welcome inline-block" th:text="${session.users.usersnickname}"></span><span>님 ▾</span>
				<div class="hideMenu" th:if="${session.users != 'not'}">
					<div>
						<ul>
				      		<li>
				      			<div>
				      				<p><a class="hideA" href="/myInfo">프로필 관리</a></p>
				      			</div>
				      		</li>
				      		<li>
				      			<div>
				      				<p><a class="hideA" href="/board/myboardList">내가 쓴 글</a></p>
				      			</div>
				      		</li>
				      		<li>
								<div>
									<p><a class="hideA" href="/logout">로그아웃</a></p>
								</div>		      
				      		</li>
				    	</ul>
				  	</div>
				</div>			
			</div>
			<div class="inline-block" th:if="${session.users == 'not'}">				
				<a href="/login">로그인</a>
			</div>
		</div>
	</header>
</body>
</html>