<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>★SPACE★</title>
</head>
<body>
	<header th:fragment="header" class="headerBox">
		<div class="leftBox">
			<a href="/">
				<img src="../images/spaceLogoText.PNG">
			</a>
		</div>
		<div class="rightBox">
			<a href="/board/write">게시글 작성</a>
			<div th:if="${session.users != 'not'}">
				<span id="nickname" class="welcome" th:text="${session.users.usersnickname}"></span><span class="welcome"> 님 환영합니다!</span>
			</div>
			<div>
				<a href="/board/list">게시판 이동</a>
			</div>
			<div th:if="${session.users == 'not'}">				
				<a href="/login">로그인</a>
			</div>
			<div th:if="${session.users != 'not'}">
				<a href="/logout">로그아웃</a>
			</div>
		</div>
	</header>
</body>
</html>