<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>★SPACE★</title>
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/header.css">
<style>

	
</style>
</head>
<body>
	<div th:replace="~{header :: header}"></div>
	<div>
		<a href="/board/list">게시판 이동</a>
		<a href="/logout">로그아웃</a>	
	</div>
	
	  
    <input type="text" placeholder="보낼 메세지를 입력하세요." class="content">
    <button type="button" value="전송" class="sendBtn" onclick="sendMsg()">전송</button>
	<div>
	    <span>메세지</span>
	    <div class="msgArea"></div>
	</div>	  
	  
	  
	  
	  
    
</body>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>
	
	let socket = new WebSocket("ws://localhost:8080/websocket");
	
	socket.onopen = function (e) {
	    console.log('open server!')
	};
	
	socket.onerror = function (e){
	    console.log(e);
	}
	
	socket.onmessage = function (e) {
	    console.log(e.data);
	    let msgArea = document.querySelector('.msgArea');
	    let newMsg = document.createElement('div');
	    newMsg.innerText=e.data;
	    msgArea.append(newMsg);
	}
	
	function sendMsg() {
	    let content=document.querySelector('.content').value;
	    socket.send(content);
	}	
	
	
	function checkNickName() {
		let json = {"page":1};
		$.ajax(
			{
				type:"POST",
				url:"/board/list",
				data:JSON.stringify(json),
				contentType: "application/json",
				success:function(result,status,xhr){
					console.log(result);
					if(result == "fail"){						
						
					}else{
						
					}
				},
				error:function(xhr,status,e){
				}
			}
		)
	}

</script>
</html>