<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>★SPACE★</title>
<link rel="stylesheet" href="../css/main.css">
<link rel="stylesheet" href="../css/index.css">
<style>

	
</style>
</head>
<body>
	<div th:replace="~{header :: header}"></div>
	<div>
		<a href="/board/list">게시판 이동</a>
		<a href="/logout">로그아웃</a>	
	</div>
	
	  
    
</body>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script>
	
	function checkNickName() {
		let json = {"page":1};
		$.ajax(
			{
				type:"POST",
				url:"/board/list",
				data:JSON.stringify(json),
				contentType: "application/json",
				success:function(result,status,xhr){
					console.log(result);
					if(result == "fail"){						
						
					}else{
						
					}
				},
				error:function(xhr,status,e){
				}
			}
		)
	}

</script>
</html>