@charset "UTF-8";

	/* Mobile - Portrait */
	@media (max-width: 619px) {
		.title h1 {
			font-size: 25px;
		}

		.box div:nth-child(1),
		.box div:nth-child(2),
		.box div:nth-child(3) {
			display: none;	
		}		
	}
	
	/* Mobile - Landscape */
	@media (min-width: 620px) and (max-width: 767px) {
		.box div:nth-child(1),
		.box div:nth-child(2),
		.box div:nth-child(3) {
			display: none;	
		}		
	}
	
	/* Tablet */
	@media (min-width: 768px) and (max-width: 991px) {
		.skillList {
			height: 40px;
			margin: 2px 5px;
		}			
		
		.skillbox {
			height: 30px;
		}
				
		.imgbox {
			width: 30px;
			height: 30px;
			padding: 1px;
			padding-top: 3px;			
		}	
			
		.skillimage {
			width: 20px;
			height: 20px;	
		}	
	}
	
	/* Desktop */
	@media (min-width: 992px) and (max-width: 1299px) {
		.skillList {
			height: 40px;
			margin: 5px 10px;
		}			
		
		.skillbox {
			height: 30px;
		}
				
		.imgbox {
			width: 30px;
			height: 30px;
			padding: 1px;
			padding-top: 3px;			
		}	
			
		.skillimage {
			width: 20px;
			height: 20px;	
		}	
	}
	
	/* Desktop (Large) */
	@media (min-width: 1300px) {
		.skillList {
			height: 50px;
			margin: 10px 10px;
		}	
	
		.skillbox {
			height: 40px;
		}	
	
		.imgbox {
			width: 40px;
			height: 40px;
			padding: 1px;
			padding-top: 5px;
		}
			
		.skillimage {
			width: 28px;
			height: 28px;	
		}
	}


.box {
	width: 70%;
	margin: 0 auto;
	margin-bottom: 100px;
}

.title {
	margin: 30px;
}

.title h1 {
	text-align: center;
	width: 100%;
	height: 50px;
	margin: 0 auto;
}

.skillContainer {
	width: 100%;
	height: 550px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	margin: 0 auto;
	border-radius: 50px;
}

.skillList {
	border: 2px solid silver;
	width: auto;
	border-radius: 50px;
	text-align: center;
	padding: 4px 15px;
	cursor: pointer;
	opacity: 0.3;
	list-style: none;
}

.skillbox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
}

.imgbox {
	border: 1.5px solid silver;
	border-radius: 50px;
}

.skillimage {
	object-fit: contain;	
}

.skill {
	font-size: 15px;
	font-weight: bold;
	margin-left: 10px;
}

.choice {
	opacity: 1;
}

.choiceSkill {
	display: inline-block;
	float: left;
}

#reset {
	width: 100px;
	height: 35px;
	display: inline-block;
	border: 2px solid black;
	border-radius: 50px;
	padding-left: 8px;
	padding-top: 6px;
	float: right;
	cursor: pointer;
	color: white;
	background-color: black;
}

#skillChoiceContainer {
	border: 1px solid black;
	width: 80%;
	height: 100px;
	text-align: center;
	margin: 0 auto;
}

.select {
	position: relative;
	display: inline-block;
	border: 1px solid black;
	width: 150px;
	height: 30px;
	text-align: left;
	border-radius: 50px;
	padding-left: 20px;
	padding-top: 5px;
	background-color: silver;
	cursor: pointer;
	margin: 20px;
}

.cancel_PTag {
	position: absolute;
	right: 2px;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	margin: 0px;
	padding-top: 5px;
	border-radius: 50px;
	background-color: white;
	cursor: pointer;
}

.boardNull {
	width: 300px;
	margin: 0 auto;
}

.top {
	width: 60px;
	height: 60px;
	background: #000;
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: 50%;
	transition: .2s;
	color: #fff;
}